#baseOfMyTree {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    width: calc(100% - 300px);
    height: calc(100% - 50px);
    overflow-y: auto;
}

.boxItem {
    width: 100%;
    height: 50px;

    color: white; 
    border-bottom: 1px black solid;

    > div {
        display: inline-block;
        vertical-align: top;
    }

    .boxItemEnableButton {
        width: 50px;
        height: 50px;
        background-color: #BD0000;
    }

    .selectedToBox {
        background-color: green;
    }

    .boxItemText {
        font-size: 18px;
        line-height: 50px;
        padding: 0px 10px; 
    }
}

#boxingQueueContainer {

    color: white;
    background-color: black;

    width: 300px;

    position: absolute;
    right: 0; 
    top: 0;

    padding-left: 10px;
    box-sizing: border-box;

    height: calc(100% - 50px);
    overflow-y: hidden;

    background-color: #BD0000;

    > #boxingQueue {

        list-style-type: none; 
        padding-left: 0;
    
        > li {
            height: 50px; 
            line-height: 50px;
            color: white;
            border-bottom: white;

            background-color: #880000;
        }

        max-height: 100%;
        overflow-y: auto;
    }
}
 
#boxSelectedButton {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #9B0000;
    color: white;
    font-size: 18px;
    border: none;
    border-top: 1px black solid;
}
