body {
    margin: 0;
    padding: 0;
    background: #eee;
    font-family: Courier, monospace;
    font-size: 16px;
    background-color: #000;
    color: white;
    text-align: center;
    -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }
  
  .wrapper {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 844px;
  }
  
  canvas {
    margin: 10px;
    padding: 0;
    border: 1px solid #333;
    display: inline-block;
  }
  
  p {
    text-align: left;
    margin-left: 10px;
  }
  
  h1 {
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em 0 0;
  }
  
  
  /*#c1 {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/222579/beagle400.jpg)
  }*/