#centeredContainer {

    width: 100%;
    height: 100%;
    text-align: center;

    position: absolute;
    bottom: 100px;
    

    > div {

        > a
        {
            width: 250px;
            padding: 10px 0;
            text-decoration: none;
            margin: 0 auto;            
            font-size: 26px;
            color: white;
            display: table;
        }

        > #boxButton 
        {
            background-color: #bd0000;

            &:hover 
            {
                background-color: #ac0000;
            }
        }
    }    
}

.paddingContainer {
    width: 100%;
    height: 100%;

    box-sizing: border-box;
    padding: 15px;
}

