body {
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100vh;

    font-family: "Lato", sans-serif;
    box-sizing: border-box;

    background-color: #363636;
    color: white;

    overflow: hidden !important;
}

#navbar {
    display: inline-block;
    width: 350px;
    height: 100%;
}

#rightContainer {
    display: inline-block;
    position: absolute;
    left: 350px;
    width: calc(100% - 350px);
    height: 100%;
}

#navbar {

    position: absolute;
    left: 0; 
    top: 0;
    background-color: #BD0000; 
    color: white;
    width: 350px;
    height: 100%;

    text-align: left;
    border-right: 1px black solid;
    z-index: 2;

    > #branding {

        position: relative; 
        width: 100%;
        height: 70px;

        /* The absolute positioning here isn't really the "best" way to do this... 
            but it doesn't really matter; Anything that would normally mess up has 
            hardcoded pixel values so it doesn't really affect that */
        > img {
            width: 70px;
            position: absolute;
            right: 10px;
            top: 10px;
        }

        > h1 {
            font-size: 30px;
            position: absolute;
            width: calc(100% - 70px);
            left: 10px;
            width: fit-content;
            line-height: 70px;
            margin-top: 0; 
            margin-bottom: 0;
        }
    }

    > ul {
        
        padding-left: 0;
        margin: 0;

        > li {

            padding: 0;
            margin: 0;

            list-style-type: none;

            width: 350px;
            height: 50px;

            border-top: 1px black solid;

            > a {

                display: block;
                padding-left: 10px;

                width: calc(100% - 10px);
                height: 100%;

                color: white; 
                line-height: 50px;

                text-decoration: none;
                font-size: 20px;

                background-color: #880000;
            }

            > a:hover {
                background-color: #DD0000; 
            }
        }

        > li:last-of-type {
            border-bottom: 1px black solid;
        }
    }

    > #navbarTextContent {
        width: 100%;
        padding: 0 10px;
        box-sizing: border-box;
    }

    > #processInformation {
        position: absolute;
        left: 10px;
        bottom: 60px;
        > div > a {
            color: white;
        }
    }

    > #status {

        // Positioning 
        position: absolute; 
        bottom: 0;
        left: 0;
        text-align: center;

        // Sizing 
        width: 100%;
        height: 50px; 
        line-height: 50px;

        // Coloring 
        background-color: #7C0000; 
        color: white;

        // Font 
        font-size: 14px;
        font-family: "Lato", sans-serif;
    }
}

