#baseOfMyTree {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    width: calc(100% - 300px); // 300px for the queue
    height: calc(100% - 70px); // 50px button + 10px top margin + 10px bottom margin 
    overflow-y: auto;
}

.boxItem {
    width: 100%;
    height: 50px;

    color: white; 
    border-bottom: 1px black solid;

    > div {
        display: inline-block;
        vertical-align: top;
    }

    .boxItemEnableButton {
        width: 20px;
        height: 50px;
        background-color: #BD0000;
    }

    .selectedToBox {
        background-color: green;
    }

    .boxItemText {
        font-size: 18px;
        line-height: 50px;
        padding: 0px 10px; 
    }
}

#boxingQueueContainer {

    color: white;
    background-color: black;

    width: 300px;

    position: absolute;
    right: 0; 
    top: 0;

    padding-left: 10px;
    box-sizing: border-box;

    height: 100%;
    overflow-y: hidden;

    background-color: #BD0000;

    > #boxingQueue {

        list-style-type: none; 
        padding-left: 0;
    
        > li {
            height: 50px; 
            line-height: 50px;
            color: white;
            border-bottom: white;

            background-color: #880000;
        }

        max-height: 100%;
        overflow-y: auto;
    }
}
 
#boxSelectedButton {
    position: absolute;
    left: 15px;
    bottom: 15px;
    width: calc(100% - 300px - 30px); // 300px for the queue, 20px for horiz. margin
    height: 50px;
    background-color: #9B0000;
    color: white;
    font-size: 18px;
    border: none;
    border-top: 1px black solid;
}

.rightContainerTopContainer {
  button, ul {
    display: inline-block;
    vertical-align: middle;
  }

  button {
    background-color: #222222;
    border: 1px white solid; 
    margin-left: 10px;
  }

  button:focus {
    outline: none; 
    box-shadow: none;
  }

  height: 50px;
  width: calc(100% - 300px);

  #currentFilePath {

    padding-left: 15px;
    > .filePathEntry {
  
      list-style-type: none;
      display: inline-block;
      vertical-align: middle;
      font-size: 14px;
  
      > div {
        display: inline-block;
        margin-right: 5px;
      }
  
      > .filePathText {
        text-decoration: underline; 
      }
    }
  
    max-width: calc(100% - 100px); // The 42px is for the refresh button, and hardcoding the other number to something approximately correct is fine b/c this is a single page application
    overflow-x: hidden; 
  }
}
